<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container w-50 p-3">
  <h1 class="display-5">Login to Kin Kao</h1>

  <form th:action="@{/login}" method="POST">
    <div id="error-msg" th:if="${param.error}" class="alert alert-danger">
      Invalid username or password
    </div>
    <div id="logout-msg" th:if="${param.logout}" class="alert alert-success">
      You have been logged out
    </div>
    <div class="mb-3">
      <label for="inputUsername">Username</label>
      <input type="text" name="username" id="inputUsername"
             class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword"
             class="form-control" required>
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
</body>
</html>