<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinkao Restaurant Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="container">
    <h1 class="display-6">Add Restaurant</h1>

    <form th:action="@{/restaurant/add}" th:object="${restaurantRequest}"
          method="POST">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input class="form-control" id="nameInput" th:field="*{name}" type="text">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="addressInput" class="form-label">Address</label>
            <input class="form-control" id="addressInput" th:field="*{address}" type="text">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>
        <div class="mb-3">
            <label for="ratingInput" class="form-label">Rating</label>
            <input class="form-control" id="ratingInput" th:field="*{rating}" type="text">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
</body>
</html>