<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1 class="display-6">Restaurants</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant : ${restaurants}">
            <td th:text="${restaurant.name}"></td>
            <td th:text="${restaurant.address}"></td>
            <td th:text="${restaurant.rating}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>