<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Sign Up</title>
</head>
<body>
<div class="container w-50 p-3">
    <h1 class="display-5">Sign Up</h1>

    <form action="#" th:action="@{/signup}" th:object="${signupDto}" method="POST">

        <div id="success-msg" th:if="${signupSuccess}" class="alert alert-success">
            You successfully signed up! Please continue to the <a th:href="@{/login}">login</a> page.
        </div>
        <div id="error-msg" th:if="${signupError}" class="alert alert-danger">
            <span th:text="${signupError}"></span>
        </div>

        <div class="mb-3">
            <label for="inputFirstName">First Name</label>
            <input id="inputFirstName" type="text" th:field="*{firstName}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>
        <div class="mb-3">
            <label for="inputLastName">Last Name</label>
            <input id="inputLastName" type="text" th:field="*{lastName}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>
        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="text" th:field="*{username}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" th:field="*{password}" class="form-control">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <button id="submit-button" type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
</body>
</html>